/* ### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%) */
@font-face {
  font-family: "hankengrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "hankengrotesk";
  --gradient-color-one: hsl(252, 100%, 67%);
  --gradient-color-two: hsl(241, 81%, 54%);
  --circle-gradient-color-one: hsla(256, 72%, 46%, 1);
  --circle-gradient-color-two: hsla(241, 72%, 46%, 0);
  --primary-color-light-red: hsl(0, 100%, 67%);
  --primary-color-orangey-yellow: hsl(39, 100%, 56%);
  --primary-color-green-teal: hsl(166, 100%, 37%);
  --primary-color-cobalt-blue: hsl(234, 85%, 45%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-pale-blue: hsl(221, 100%, 96%);
  --neutral-color-light-lavender: hsl(241, 100%, 89%);
  --neutral-color-dark-gray-blue: hsl(224, 30%, 27%);
}
.wrapper {
  /* background-color: blanchedalmond; */
  margin: 150px auto;
  width: 500px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 375px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
  }
}
.wrapper .result,.wrapper .summary{
  border-radius: 20px;
  padding: 25px;
}
.wrapper .result {
  background-image: linear-gradient(
    var(--gradient-color-one),
    var(--gradient-color-two)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.wrapper .result .title{
  color:var(--neutral-color-light-lavender);
  font-size: 1.2rem;
}
.wrapper .result .scores {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  background-image: linear-gradient(
    var(--circle-gradient-color-one),
    var(--circle-gradient-color-two)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .result .scores .score{
  font-size:2.5rem;
  color: white;
}
.wrapper .result .scores .total-score{
  color:var(--neutral-color-light-lavender);
  font-size: 0.8rem;
}

.wrapper .result .remarks{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper .result .remarks .level{
  color: var(--neutral-color-white);
  font-size: 1.3rem;
}
.wrapper .result .remarks .comment{
  color: var(--neutral-color-light-lavender);
  font-size: 0.8rem;
}

.wrapper .summary{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .summary .sections{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper .summary .sections *{
  display: flex;
  height: 2rem;
  line-height: 2rem;
}