:root {
  --primary-soft-orange: 35, 77%, 62%;
  --primary-soft-red: 5, 85%, 63%;
  --neutral-off-white: 36, 100%, 99%;
  --neutral-grayish-blue: 233, 8%, 79%;
  --neutral-dark-grayish-blue: 236, 13%, 42%;
  --neutral-very-dark-blue: 240, 100%, 5%;
  --root-font-size:15px;
}
